# Beat The Python
The workshop will get you started with the python programming language basics, the goal is to be able to use those basics to build some useful tasks (reading/writing files, getting data from internet, ....)

### Audience
Programmers & Computer science students interested in Python or just exploring different programming languages

### Prerequisites
Basic programming skills: you should have written a couple of programs with any programming language.

## **Variables**
* No explicit type
* No prior declaration

In [5]:
student_name # wrong, NameError will be thrown

NameError: name 'student_name' is not defined

In [6]:
student_name = 'Tahar'

Note: Excpect to see 'Tahar' a lot during the workshop, here's one of the most important actors :D

### **Exercice 1**
Write a Python programme to swap (permutation) the value of two variables a, b

In [8]:
# Your code start here

# Your code ends here

## **Input / Output**

#### Input

In [ ]:
age = input('What is you age ?') # Warning: It always returns a string

#### Output

In [ ]:
print('Salam alaykom el Haj el Tahar')
print('3andek', age, '3am, Rak jayeb rohek labes')

## **Operations**
#### Math is what you would expect

In [15]:
1 + 1, 8 - 1, 10 * 2, 35 / 5

(2, 7, 20, 7.0)

#### Modulo operation

In [16]:
7 % 3

1

#### Exponentiation

In [17]:
2**3

8

#### negate with not

In [19]:
not True, not False

(False, True)

#### Boolean Operators

In [20]:
True and False, False or True

(False, True)

# **Comparaisons**

#### Equality is `==`

In [22]:
1 == 1

True

#### Inequality is `!=`

In [23]:
2 != 1

True

#### More comparisons

In [25]:
1 < 10, 10 > 1, 2 <= 2, 2 >= 2

(True, True, True, True)

### **Exercice 2**
Write a Python program that calculate the average of a student based on the value of his exam and his test grades using the formula: `(exam*2 + test) / 2`
* Ask the user for his grades
* Calculate the average
* Print it back to him

In [10]:
# Your code start here

# Your code ends here

## **String**
#### Strings are created with `"` or `'`

In [26]:
"This is a string.", 'This is also a string.'

('This is a string.', 'This is also a string.')

#### Concatenation:

In [28]:
"Hello " + "world!"

'Hello world!'

#### Length:

In [29]:
len("This is a string")

16

#### F-strings: Formatted string literals (python 3.7+)

In [30]:
name = "Tahar"
f"He said her name is {name}."

'He said her name is Tahar.'

##### Even statements are accepted

In [31]:
f"{name} is {len(name)} characters long."

'Tahar is 5 characters long.'

#### Split a string

In [32]:
s = 'Ya Tahar'
s.split(' ')

['Ya', 'Tahar']

#### Strip a string

In [33]:
s = '	Ya Tahar \n'
s.strip()

'Ya Tahar'

## Conditional statemants

In [34]:
x = 12
if x > 10:
    print("x is totally bigger than 10.")
else:
    print("x is smaller or equal to 10.")

x is totally bigger than 10.

In [35]:
if x > 10:
    print("x is totally bigger than 10.")
elif x < 10:
    print("x is smaller than 10.")
else:
    print("x is indeed 10.")

x is totally bigger than 10.

## **Types and casting**
* `int`
* `float`
* `str`
* ....

For each type a function that casts values to that type exists with the same name.

In [36]:
n_str = '3'
int(n_str)

3

### **Exercice 3**
Write a Python program that calculate the average of a student and print if he succeeded or not:
* Read the value of his exam and his test
* Calculate the average: `(exam*2 + test) / 2`
* Print if the student succeed or not

In [37]:
# Your code start here

# Your code ends here

## **Lists**

In [65]:
# List definition
li = [1, 2, 3, 4, 5, 6]

In [66]:
# Add to the end 
li.append(1)

In [67]:
# Remove from the end
li.pop()

1

In [68]:
# Access
li[0]

1

In [69]:
li[6]  # Raises an IndexError

IndexError: list index out of range

In [70]:
# Access the last element
li[-1]

6

In [71]:
# Slicing
li[1:3]

[2, 3]

In [72]:
# Remove
del li[2]

In [73]:
li.remove(4)

In [74]:
# Get index of element
li.index(2)

1

In [75]:
li.index(4)  # Raises a ValueError

ValueError: 4 is not in list

In [76]:
# Insert at a specific index
li.insert(1, 2)

In [77]:
# Check for existence
1 in li

True

## Loops

In [40]:
for animal in ["dog", "cat", "mouse"]:
    print(f"{animal} is a mammal")

dog is a mammal
cat is a mammal
mouse is a mammal

In [41]:
# range(number) returns an iterable of numbers from zero to the given number
for i in range(4):
    print(i)

0
1
2
3

In [42]:
# range(lower, upper) returns an iterable of numbers  from lower to upper
for i in range(4, 8):
    print(i)

4
5
6
7

In [43]:
# range(lower, upper, step) returns an iterable of numbers from the lower number to the upper number, while incrementing by step. If step is not indicated, the default value is 1.
for i in range(4, 8, 2):
    print(i)

4
6

In [44]:
# To loop over a list, and retrieve both the index and the value of each item in the list
animals = ["dog", "cat", "mouse"]
for i, value in enumerate(animals):
    print(i, value)

0 dog
1 cat
2 mouse

### **Exercice 4**
1. Write a program that checks if a given value belongs to a given list in two different ways
2. Write a program to read 10 numbers from keyboard and find their sum and average
3. Create a program that asks the user for a number and then prints out a list of all the divisors of that number.
4. Write a program that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.
Example:
```python
input_list = [1, 1, 2, 1, 3, 2]
output_list = [1, 2, 3]
```

In [ ]:
# Your code start here

# Your code ends here

In [ ]:
# Your code start here

# Your code ends here

In [ ]:
# Your code start here

# Your code ends here

In [ ]:
# Your code start here

# Your code ends here